

<div class="objectList small">
	<div class="blockCornerLeft"></div>
	<div class="blockElementHeader sixH">
					<span id="item_count">Manage Promoting Stuff</span>
	</div>
	<div class="blockCornerRight"></div>
	<div class="contentList filtered sixH">
	
		
		<%for promotingstuff in  @promoting_stuff%>
			
			<p >Title *:- <%=promotingstuff.title%> 
			
			
			<%=link_to "Edit", "/admin/promoting_stuffs/#{promotingstuff.id}/edit"%>  
			<%=link_to "Delete", "/admin/promoting_stuffs/#{promotingstuff.id}" ,:method=>"delete" ,:confirm=>"Are You Sure"%>
			<%=link_to "Show", "/admin/promoting_stuffs/#{promotingstuff.id}"%>
			
			</p>
			
		<%end%>
	</div>
	
	
</div>
