
<div class="objectList small">
	<div class="blockCornerLeft"></div>
	<div class="blockElementHeader sixH">
					<span id="item_count">Here Are Drawing Details</span>
	</div>
	<div class="blockCornerRight"></div>
	<div class="contentList filtered sixH">
		<div>
			<p><h3>Drawings Details </h3><%=@drawing.drawingdetails %></p>
		<br/>
		
		<%=link_to "back",drawings_path%>
</div>
