
<div id="container">
	<div class ="objectList small">
		<div class="blockCornerLeft"></div>
			<div class="blockElementHeader sixH">
						<span id="item_count">Change Password</span>
			</div>
			<div class="blockCornerRight"></div>
			<div class="contentList filtered sixH">
			    <table>
			    <form action="/admin/profiles/change_password/<%=params[:id]%>" method="post">
			      <tr><td>
              Password</td><td><%=password_field "user","password"%></td></tr><tr><td>
              Confirm Password</td><td><%=password_field "user","password_confirmation"%></td></tr>
                <tr><td><%=submit_tag%>
            </td></tr>
          </form>
          </table>
			</div>
		  </div>
	</div>
</div>
