Hello 
<%=@towhomename%>
The admin of  bsg website change your role to <%=@rolename%>
Now you are one of the participant of <%=@exhibitionname%>  and now after login you can upload the
artwork which will be displayed in an exhibition. when admin will validate the artwork then only you are
artwork is accepted to the exhibition
