<h1>Listing mailing_lists</h1>

<table>
  <tr>
  </tr>

<% @mailing_lists.each do |mailing_list| %>
  <tr>
    <td><%= link_to 'Show', mailing_list %></td>
    <td><%= link_to 'Edit', edit_mailing_list_path(mailing_list) %></td>
    <td><%= link_to 'Destroy', mailing_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mailing_list', new_mailing_list_path %>