
<div class="objectList small">
	<div class="blockCornerLeft"></div>
	<div class="blockElementHeader sixH">
					<span id="item_count">Here Are  Link Details</span>
	</div>
	<div class="blockCornerRight"></div>
	<div class="contentList filtered sixH">
  <div id="linkdetails">
		        <ul>
      			  <li><h3>Link Name:- </h3><%=@link.link_name %></li>
	    		  <li><h3>Link Src:- </h3><%=@link.link_src %></li>
	    		  </ul>
	          </div>	

		
		<%=link_to "back",links_path%>
</div>
</div>
