<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<meta name="keywords" content="Tender Leaves, Tender Leave, Tender Leaf, tenderleaves, Library, Pune, Online" />
<meta name="author" content="Sudarshan, Harish, B V Harishkumar, Sudarshan Purohit" />
<title>Tender Leaves</title>
<link href="/stylesheets/main_new.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/javascripts/jquery-1.4.min.js">
        </script>
        <script type="text/javascript" src="/javascripts/jquery.ui.core.js">
        </script>
        <script type="text/javascript" src="/javascripts/jquery.ui.widget.js">
        </script>

        <script type="text/javascript" src="/javascripts/jquery.ui.accordion.js">
        </script>
        <script type="text/javascript" src="/javascripts/jquery.ui.tabs.js">
        </script>
        <script type="text/javascript" src="/javascripts/jquery.ui.dialog.js">
        </script>
        <script type="text/javascript" src="/javascripts/jcarousellite_1.0.1.js">
        </script>
		<link href="/stylesheets/sidebar.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/jquery.ui.theme.css" rel="stylesheet" type="text/css" /> 
		<!-- For indian Rupee symbol -->

		<!-- <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">  -->
			
        <style type="text/css">
<!--
.style1 {
	font-size: 18px;
	font-weight: bold;
}
.style2 {
	font-size: 10px;
	font-style: italic;
}
.style4 {font-size: 12px}
.style5 {font-size: 14px}
.style8 {font-family: Arial, Helvetica, sans-serif}
.style9 {font-size: 16px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.style11 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
.style12 {color: #214519}
-->
        </style>
</head>
<body id = "mybody">
	<div width="1155px" style="min-width:1125px;">
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-1908878-2");
            pageTracker._trackPageview();
        } 
        catch (err) {
        }
    </script>
	<script type="text/javascript">	
	
		var logged_in = 0;
	  
		  
	</script> 
	

<div id="header" style="min-width:1155px;z-index:10;">
	<a href="/" style="color:#FFFFFF"><div id="header_button"><p id="butt_text">Home</p></div></a>
	<a href="/home/howitworks" style="color:#FFFFFF"><div id="header_button"><p id="butt_text">How It Works</p></div></a>
	<a href="/home/plans" style="color:#FFFFFF"><div id="header_button"><p id="butt_text">Plans</p></div></a>
	<a href="/home/cat" style="color:#FFFFFF"><div id="header_button"><p id="butt_text">Catalogue</p></div></a>
	<a href="/home/faq" style="color:#FFFFFF"><div id="header_button"><p id="butt_text">FAQ</p></div></a>
	<a href="/home/contact" style="color:#FFFFFF"><div id="header_button"><p id="butt_text">Contact Us</p></div></a>

	<div style="float:right; margin-top:1%"><h2>Tender Leaves</h2></div>
<!-- The login in div which is placed inside the header. -->
<div id="header_login">
  
      
	<form action="https://www.tenderleaves.com/user_sessions/" method="post">
  						
  <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
	  <td class='header_login_text'><a href="/home/signup" style="text-decoration:underline; color:#FFFFFF; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;">Signup</a></td>
	  <td></td>
	  <td class='header_login_text'><a href="/password_resets/new" style="text-decoration:underline; color:#FFFFFF; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;">Forgot Password?</a></td>

	  <td></td></tr>
	<tr align='center'><td><input type="text" class="textbox2" name="user_session[email]" id="user_session_email" /></td><td>&nbsp;&nbsp;</td><td><input type="password" class="textBox2" name="user_session[password]" id="user_session_password" /></td><td>&nbsp;&nbsp;<input type="submit" value="Login" name="commit" class='login_button' id="user_session_submit" /></td></tr>
	</table>
    </form>	  
  
  </div>
  	

</div>
<div id="header" style="background:none;">
<br /><br /><br />
<a href="/">
<img src="/images/logo.jpg" align="left" style="float:left;"/>
</a>
</div> <!-- Header div -->


<div width="100%" style="min-width:1125px;">
<br /><br /><br /><br /><br />	
</div>

<div id="left_body" class="left_body" style="width:15%">
        <ul id="demo_menu">
            <!-- content inside this UL will go to Category browsing side bar -->
            <div id="accordion">
                <h3><a href="#">Quizzes</a></h3>
                <div>

                    <ul>
                    	
						<li id="quiz1" >
                            <a href="/cool_stuff/quiz/1">The Easy Lit Quiz</a>
                        </li>						
						
						<li id="quiz2" >
                            <a href="/cool_stuff/quiz/2">The Easy Non-Fiction Quiz</a>
                        </li>						
						
						<li id="quiz3" >
                            <a href="/cool_stuff/quiz/3">The Easy Lit Quiz - 2</a>

                        </li>						
						
						<li id="quiz4" >
                            <a href="/cool_stuff/quiz/4">The Easy Non-Fiction Quiz - 2</a>
                        </li>						
						
						<li id="quiz5" >
                            <a href="/cool_stuff/quiz/5">The Telugu Quiz - 1</a>
                        </li>						
						
						<li id="quiz6" >
                            <a href="/cool_stuff/quiz/6">Percy Jackson Quiz</a>

                        </li>						
						
						<li id="quiz7" >
                            <a href="/cool_stuff/quiz/7">The Crime and Thriller Quiz</a>
                        </li>						
						
						<li id="quiz8" >
                            <a href="/cool_stuff/quiz/8">The Harry Potter Quiz</a>
                        </li>						
						
						<li id="quiz9" >
                            <a href="/cool_stuff/quiz/9">The Artemis Fowl Quiz</a>

                        </li>						
						
                    </ul>
                </div>
                <h3><a href="#">Crosswords</a></h3>
                <div>
                    <ul>
                        <li id="quiz1" >
                            Coming Soon...
                        </li>

                    </ul>
                </div>
                <h3><a href="#">Games for Kids</a></h3>
                <div>
                    <ul>
                        <li id="quiz1" >
                            Coming Soon...
                        </li>
                    </ul>

                </div>
				
            </div>
        </ul>
</div>




<meta property="og:title" content="Fun Quizzes!" />
<meta property="og:url" content="http://www.tenderleaves.com/cool_stuff/quiz/8" />
<meta property="og:description" content="I took this fun quiz - scored 1 right. Want to try?" />
<meta property="og:site_name" content="Tender Leaves" />

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'e0af4e5e-7285-45bc-b1da-05d96a8e7c98'});</script>

<div id="mid_body" style="margin-bottom:30px;width:60%">
	
<div align="center" class="suggestion_holder" style="overflow:hidden;">
	<div class="sub_heading" style="text-align:center;" align="center">Results: The Harry Potter Quiz</div>
	<br>

<div class="quiz_scores">Check out how you did!</div> <br><br>

	<table width="100%" align="left" style="text-align:left;">
			
			
	
	
		
		
		
		
		<tr><td colspan="2">

		<div class="quiz_question"><b>Q.0</b> What are the names of Harry's parents?</div>
		<br>
		</td></tr>
		<tr><td>
		<div class="quiz_answer_option"><b>Your Answer:</b>
		
		  Peter and Lily
		  
		
		  
		</div>

		<br>
		</td>
		<td>
			
				<div style="font-size:130%; color:#CC0000;">Wrong!</div>
			
		 </td>
		</tr>
		<tr><td>
		
		</td></tr>

		
		<tr><td><br><hr><br></td></tr>
	
	
		
		
		
		
		<tr><td colspan="2">
		<div class="quiz_question"><b>Q.0</b> Number 12, Grimmauld Place, is the residence of which magical family?</div>
		<br>
		</td></tr>
		<tr><td>
		<div class="quiz_answer_option"><b>Your Answer:</b>

		
		  The Malfoys
		  
		
		  
		</div>
		<br>
		</td>
		<td>
			
				<div style="font-size:130%; color:#CC0000;">Wrong!</div>
			
		 </td>
		</tr>
		<tr><td>

		
		</td></tr>
		
		<tr><td><br><hr><br></td></tr>
	
	
		
		
		
		
		<tr><td colspan="2">
		<div class="quiz_question"><b>Q.0</b> Which of the following teachers have <b>not</b> taught the Defense Against Dark Arts course at Hogwarts?</div>
		<br>
		</td></tr>

		<tr><td>
		<div class="quiz_answer_option"><b>Your Answer:</b>
		
		  Severus Snape
		  
		
		  
		</div>
		<br>
		</td>
		<td>
			
				<div style="font-size:130%; color:#CC0000;">Wrong!</div>

			
		 </td>
		</tr>
		<tr><td>
		
		</td></tr>
		
		<tr><td><br><hr><br></td></tr>
	
	
		
		
		
		
		<tr><td colspan="2">
		<div class="quiz_question"><b>Q.0</b> What is Hermione's cat's name?</div>

		<br>
		</td></tr>
		<tr><td>
		<div class="quiz_answer_option"><b>Your Answer:</b>
		  
		
		  Scabbers  
		
		  
		</div>
		<br>
		</td>
		<td>

			
				<div style="font-size:130%; color:#CC0000;">Wrong!</div>
			
		 </td>
		</tr>
		<tr><td>
		
		</td></tr>
		
		<tr><td><br><hr><br></td></tr>
	
	
		
		
		
		
		<tr><td colspan="2">
		<div class="quiz_question"><b>Q.0</b> Lord Voldemort and Harry Potter's wands both have the same magical ingredient as their core. What is it?</div>

		<br>
		</td></tr>
		<tr><td>
		<div class="quiz_answer_option"><b>Your Answer:</b>
		  
		
		
		  Phoenix Feather
		  
		</div>
		<br>
		</td>
		<td>

			
				<div style="font-size:130%; color:#008000;">Correct</div>
				
			
		 </td>
		</tr>
		<tr><td>
		
		</td></tr>
		
		<tr><td><br><hr><br></td></tr>
	
	
		
		
		
		
		<tr><td colspan="2">
		<div class="quiz_question"><b>Q.0</b> What is Professor Dumbledore's brother's name?</div>

		<br>
		</td></tr>
		<tr><td>
		<div class="quiz_answer_option"><b>Your Answer:</b>
		  
		
		  
		
		  Albion
		</div>
		<br>
		</td>
		<td>

			
				<div style="font-size:130%; color:#CC0000;">Wrong!</div>
			
		 </td>
		</tr>
		<tr><td>
		
		</td></tr>
		
		<tr><td><br><hr><br></td></tr>
	
	
		
		
		
		
		<tr><td colspan="2">
		<div class="quiz_question"><b>Q.0</b> Which wizard is given the post of High Inquisitor of Hogwarts, when the Ministry of Magic fears that Hogwarts students may attack it? </div>

		<br>
		</td></tr>
		<tr><td>
		<div class="quiz_answer_option"><b>Your Answer:</b>
		  
		
		  
		
		  Gilderoy Lockhart
		</div>
		<br>
		</td>
		<td>

			
				<div style="font-size:130%; color:#CC0000;">Wrong!</div>
			
		 </td>
		</tr>
		<tr><td>
		
		</td></tr>
		
		<tr><td><br><hr><br></td></tr>
	
	</table>
	
	 
	
	
		<div class="quiz_scores">You got <span style="font-size:150%;color:#980905;">1</span> out of <span style="font-size:150%;color:#980905;">7</span> right! Why not try again, with one of the other quizzes - in the menu on the left?  
		<br>

		Share your score with your friends too, by clicking below - can they do as well as you did?</div> 
		<br>
		<p><span style="vertical-align:baseline;" st_url="http://www.tenderleaves.com/cool_stuff/quiz/8" class="st_email_large"></span><span st_url="http://www.tenderleaves.com/cool_stuff/quiz/8" class="st_facebook_large"></span><span st_url="http://www.tenderleaves.com/cool_stuff/quiz/8" class="st_twitter_large"></span><span class="st_sharethis_large"  st_url="http://www.tenderleaves.com/cool_stuff/quiz/8" displayText="Share the fun with friends!"></span></p>
	

	<br><br>

</div>	
<br><br><br>
</div>



<div class="right_body" style="margin-top:-60px;float:right;margin-right:20px;">
	<a href="/">

	<img src="/images/website_banner.gif" align="middle" style="vertical-align:top;text-align:center;padding:15px;padding-top:80px;padding-left:30px;" />
	</a>
	<hr />
	<br />
	<a href="/cool_stuff/quiz/7">
	<span style="text-slign:center;padding-left:20px;font-size:120%">Try the Crime & Thrillers Quiz!</span></b><br />
	<b><span align="center" style="text-align:center;padding-left:30px;">Ace the quiz, get a badge!</span></b><br />

	
	<img src="/images/whodunit_ad.png" align="middle" style="text-align:center;padding:15px;padding-top:10px;padding-left:30px;" />	
	</a>	
	<hr />
	<br /><a href="/cool_stuff/quiz/6"><span style="text-slign:center;padding-left:20px;font-size:120%">Try the Percy Jackson Quiz!</span></b><br />
	<b><span style="text-slign:center;padding-left:30px;">Win and get a badge</span> <br /><span style="text-slign:center;padding-left:30px;">Proclaiming your fanship!</span></b><br />
	
	<img src="/images/PJBadge.jpg" align="center" style="text-align:center;padding:15px;padding-top:10px;padding-left:30px;" />	
	</a>
	<br />

</div>


<!-- Footer -->
<div id="footer" style="top:97%">
	<div style="float:right; width:auto">© 2010, Tender Leaves Books Pvt. Ltd.&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<a href="/home/terms" style="color:#FFFFFF"><div style="width:10%;" id="footer_button">Terms and Conditions</div></a>
	<a href="/home/privacy" style="color:#FFFFFF"><div id="footer_button">Privacy Policy</div></a>
	<a href="/home/requestabook" style="color:#FFFFFF"><div style="width:10%;" id="footer_button">Recommend a Book</div></a>

	<a href="/home/about" style="color:#FFFFFF"><div id="footer_button">About Us</div></a>
</div>

<script type="text/javascript">
  /* After the document has loaded then */
  window.onload = place_footer;

	$("#accordion").accordion({
	    autoHeight: false
	});	

  
  function place_footer(e){
  	//document.getElementById('footer').setAttribute('style','top:'+document.height+'px');
  }


var logged_in = 0;
  
  
</script>  
  </div>
</body>

</html>