
<div class="objectList small">
	<div class="blockCornerLeft"></div>
	<div class="blockElementHeader sixH">
					<span id="item_count">Enter Here Book Shop Details</span>
	</div>
	<div class="blockCornerRight"></div>
	<div class="contentList filtered sixH">
				<form action="/admin/booksshops" method="post">
                    <label>Book Shop Details *:</label>
					<div class="formElement">
					
					<%=text_area "bookshop","bookshopdetails" ,:cols=>30,:rows=>1%>
					 </div>
					<button type="submit" class="submitButton">
						<span>Create</span>
					</button>
				</form>
		</div>
	
	
</div>
