
<div class="objectList small">
	<div class="blockCornerLeft"></div>
	<div class="blockElementHeader sixH">
					<span id="item_count">Here Are Bookshop Details</span>
	</div>
	<div class="blockCornerRight"></div>
	<div class="contentList filtered sixH">
		<div>
			<p><h3>Book Shop Details:-</h3><%=@bookshop.bookshopdetails %></p>
		<br/>
		
		<%=link_to "back",booksshops_path%>
</div>
