<h1>Editing groupshow</h1>

<% form_for(@groupshow) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @groupshow %> |
<%= link_to 'Back', groupshows_path %>